<!DOCTYPE html>
<html lang="en">

{{> head title="О проекте"}}

<body>
  {{> navbar}}
  <div class="jumbotron">
    <div class="container">
      <h1>О проекте</h1>
      <blockquote>
        <p>Афиша Города - приложение, которое поможет узнать о событиях в городе</p>
      </blockquote>
      <br>
    </div>
  </div>
  <div class="container">
    <section>
      <h2>Что из себя представляет?</h2>
      <p>Приложение позволяет узнать о последних событиях в твоем городе, будь то кино, встречи или фестивали. </br>Ниже приведены
        основные функциональные возможности:
      </p>
      <dl>
        <dt>Отображение списка событий</dt>
        <dd>Событие отображаются с текущей даты и для конкретного города. Список событий отображается в виде привычной для пользователей
          социальных сетей ленты в порядке убывания рейтинга.
        </dd>
        <dt>Просмотр конкретного события</dt>
        <dd>Каждое событие можно посмотреть. При просмотре отображается дата начала и окончания события, место проведения и отметка
          на карте.
        </dd>
        <dt>Добавление события в Google Календарь</dt>
        <dd>Событие можно добавить в Google Календарь в качестве мероприятия, чтобы в нужный момент получить напоминание.
        </dd>
        <dt>Возможность поделиться событием в социальных сетях</dt>
        <dd>Можно поделить событием в социальных сетях, передав на него ссылку. Избавь друзей от скуки, захвати их вместе с собой!
          Возможные социальные сети: Вконтакте, Telegram, Facebook и другие.
        </dd>
        <dt>Возможность сохранить понравившееся событие</dt>
        <dd>Ты можешь также добавить понравившееся событие в список "избранное", который для удобства можно посмотреть отдельно.
        </dd>
      </dl>
      <p>И это еще далеко не все возможности. Со временем функционал приложения будет расширяться и улучшаться.
      </p>
    </section>

    <section>
      <h2>Каковы особенности?</h2>
      <p>Можно выделить 3 основные особенности приложения:</p>
      <dl>
        <dt>Платформа Android</dt>
        <dd>Приложение разрабатывается для одной из самых популярных и доступных мобильных платформ в мире.
        </dd>
        <dt>Никакой регистрации</dt>
        <dd>Это - информационно-справочное приложение. Регистрация не нужна. И это сделано для того, чтобы ты смог как можно
          быстрее получить информацию о событиях в твоем городе
        </dd>
        <dt>Простой и удобный интерфейс</dt>
        <dd>Взаимодействовать с приложением не только легко и удобно, но еще и приятно. И всё это благодаря фреймворку Ionic.
        </dd>
      </dl>
      <p>И это еще далеко не все возможности. Со временем функционал приложения будет расширяться и улучшаться.
      </p>
    </section>

    <section>
      <h2>Кто аудитория?</h2>
      <p>Приложения может быть интересно огромному кругу лиц: как активным людям, людям, которые не любят сидеть на месте, которые
        не намерены упускать события из виду, которые любят посещать различные мероприятия, будь то кино, выставки или музыкальные
        концерты, так и людям, которым просто интересно, что происходит в их родном городе.
      </p>
      <p>Пользу от этого приложения может получить каждый.</p>
    </section>

    <section>
      <h2>Как это работает?</h2>
      <p>Ниже представлен основной сценарий работы приложения:</p>
      <div class="how-it-works-item">
        <div class="row">
          <div class="col-md-2">
            <span class="glyphicon glyphicon-user glyphicon-large" aria-hidden="true"></span>
          </div>
          <div class="col-md-3">
            <p><strong>Пользователь</strong></br>1. Запускает приложение</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-item">
        <div class="row">
          <div class="col-md-2 col-md-offset-3">
            <span class="glyphicon glyphicon-phone glyphicon-large" aria-hidden="true"></span>
          </div>
          <div class="col-md-3">
            <p><strong>Приложение</strong></br>2. Отправляет серверу запрос списка событий</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-item">
        <div class="row">
          <div class="col-md-2 col-md-offset-6">
            <span class="glyphicon glyphicon-tasks glyphicon-large" aria-hidden="true"></span>
          </div>
          <div class="col-md-3">
            <p><strong>Сервер</strong></br>3. Обращается к базе данных</br>4. Формирует и отправляет ответ</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-item">
        <div class="row">
          <div class="col-md-2 col-md-offset-3">
            <span class="glyphicon glyphicon-phone glyphicon-large" aria-hidden="true"></span>
          </div>
          <div class="col-md-3">
            <p><strong>Приложение</strong></br>5. Получает ответ</br>6. Отображает полученную информацию</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-item">
        <div class="row">
          <div class="col-md-2">
            <span class="glyphicon glyphicon-user glyphicon-large" aria-hidden="true"></span>
          </div>
          <div class="col-md-3">
            <p><strong>Пользователь</strong></br>7. Наслаждается</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--<h1>{{greeting}}</h1>-->
  <!--<p>{{data}}</p>-->
  {{& main_scripts}}
</body>

</html>