<!DOCTYPE html>
<html lang="en">

{{> head title="Архитектура"}}

<body>
    {{> navbar}}
    <div class="jumbotron">
        <div class="container">
            <h1>Архитектура</h1>
            <blockquote>
                <p>Cовокупность решений об организации системы</p>
            </blockquote>
            <br>
        </div>
    </div>
    <div class="container">
        <h2>Выбор архитектуры</h2>
        <p>При проектировании системы выбор пал на клиент-серверную Web - архитектуру.</p>
        <p>Схематично систему можно представить так:</p>
        <img src="assets/images/afisha-app-diagram.png" class="img-thumbnail">
    </div>
    <!--<h1>{{greeting}}</h1>-->
    <!--<p>{{data}}</p>-->
    {{& main_scripts}}
</body>

</html>