<!DOCTYPE html>
<html lang="en">

{{> head title="Разработка"}}

<body>
    {{> navbar}}
    <div class="jumbotron">
        <div class="container">
            <h1>Разработка</h1>
            <blockquote>
                <p>Cовокупность решений об организации системы</p>
            </blockquote>
            <br>
        </div>
    </div>
    <div class="container">
    </div>
    <!--<h1>{{greeting}}</h1>-->
    <!--<p>{{data}}</p>-->
    {{& main_scripts}}
</body>

</html>