<!DOCTYPE html>
<html lang="en">

{{> head title="Афиша города"}}

<body>
    {{> navbar}}
    <div class="jumbotron">
        <div class="container">
            <h1>Афиша Города</h1>
            <p>Приложение, которое поможет тебе узнать о событиях в твоём городе</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Узнать больше »</a></p>
        </div>
    </div>
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-user glyphicon-large" aria-hidden="true"></span>
                    <h3>Никакой регистрации</h3>
                    <p>Это - информационно-справочное приложение. Никакая регистрация не нужна.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-th-large glyphicon-large" aria-hidden="true"></span>
                    <h3>Простота и удобство</h3>
                    <p>Интерфейс приложения - простой и удобный. Ничего лишнего.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-thumbs-up glyphicon-large" aria-hidden="true"></span>
                    <h3>Возможности</h3>
                    <p>Ты можешь добавить событие в календаль, сохранить в избранном или поделиться им с друзьями. И это ещё
                        не всё.</p>
                </div>
            </div>
        </div>
    </section>
    <!--<h1>{{greeting}}</h1>-->
    <!--<p>{{data}}</p>-->
    {{& main_scripts}}
</body>

</html>